body {
  margin: 10px;
  font-family: "Times New Roman", serif;
  background-color: rgb(71, 179, 143);
}
header{
    color: rgb(23, 31, 242);
    font-size: xx-large;
    text-align: center;
}

.cover {
  width: 600px;
  height: 850px;
  margin: 20px auto;
  
  background-image:url(cover.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-position: center;
  color: rgba(121, 80, 9, 0.542);
  outline: 5px solid rgb(185, 92, 11);;
  outline-offset: -20px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.top {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 40px;
  border-bottom: 2px solid white;
  display: inline-block;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4em;
  margin: 40px 0;
}

.subtitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 80px;
}

.deluxe {
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  bottom: 100px;
  left: 40px;
}

.author {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: rgb(141, 123, 61);
}

.publisher {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 36px;
}

.author-photo {
  width: auto;
  height: 140px;
  position: absolute;
  bottom: 120px;
  right: 70px;
  border: 3px solid rgb(170, 25, 25);
}
